__pycache__
evaluation_results
venv
slurm_out
#demonstration
evaluation_results_lbit
random_notes.txt

# Helper script for renaming (one-time use)
helper_scripts/rename_hierarchical_to_hidypa.py


config/hpc_paths.sh
config/paths.py

evaluation_2_backup/
COMMANDS.md
test_evaluation/
helper_scripts/anonymize_evaluation_paths.py
evaluation_scripts_local/
demo_backup/


demonstration/
evaluation/
evaluation_scripts/
slurm_scripts/
desktop.ini
hidypa.def
output_lbit.txt
output.txt
*.key
HiDyPa-WM.pdf
show_paraphrase_results.py
